.password {
    &__card {
        max-width: 60%;
        min-width: 40%;
        margin: 0 auto;
    }
    &__description{
        text-align: center;
        color: $dark-grey;
    }
    &__image{
        display: block;
        max-width: 50%;
        margin: 0 auto 16px;
    }
}
