.sign-in {
    min-width: 40%;
    margin: 0 auto;

    &__link {
        @include auth-link();
    }

    &__to-register {
        font-size: 1rem;
        font-weight: 600;
    }

    &__forget {
        font-size: 0.875rem;
        font-weight: 600;
    }
}
