.footer {
    background: linear-gradient(to right, $accent, $accent-light);

    &__copyright,
    &__item,
    &__socials {
        color: $white;
    }

    &__socials {
        @include flex-row();
        justify-content: center;
        align-items: center;
        column-gap: 12px;
        flex-wrap: wrap;

        &-link {
            i {
                display: block;
                color: $white;
                font-size: 2rem;
                transition: all 0.5s ease;

                &:hover {
                    transform: translateY(-4px) !important;
                    color: $secondary-light;
                }
            }
        }
    }

    &__item {
        a {
            transition: all 0.7s ease;
            color: $white-1;

            &.active {
                @include active-item();
            }

            &:hover {
                color: $white;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .footer {
        &__socials {
            column-gap: 10px;

            &-link {
                i {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
