@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
    @include flex-column();
    min-height: 100vh;
}

body {
    padding-top: 100px;
    font-family: $ff-default;
    background-color: $sky-blue;

    &.lock {
        overflow: hidden;
    }
}

.main {
    flex: 1;
    @include flex-column();
    justify-content: center;
}

.image {
    border-radius: 8px;
    max-width: 100%;
}

h1 {
    font-weight: $fw-extrabolder;
    font-size: 3rem;

    .mark {
        color: $secondary;
        background-color: transparent;
    }
}

h2 {
    font-weight: $fw-extrabold;
    font-size: 2.25rem;

    span {
        color: $accent;
        background-color: transparent;
    }

    span.secondary {
        color: $secondary;
        background-color: transparent;
        text-shadow: 2px 3px 8px rgba(27, 12, 7, 0.2);
    }
}

p {
    color: $grey-600;
    $fw-normal: $fw-normal;
    font-size: 1rem;

    &.error {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: $red;
    }
}

.btn {
    @include flex-row();
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    border-radius: 12px;
    transition: all 0.6s ease;
    padding: 16px 32px;
    display: inline-flex !important;

    &.full {
        width: 100%;
    }

    &-svg,
    &-outline-svg {
        width: 20px;
        height: 20px;
    }

    &-svg {
        fill: $white;
    }

    &-outline-svg {
        transition: all 0.6s ease;
        fill: $grey-600;
    }

    &-primary {
        background-color: $secondary !important;
        border: none;

        &:hover,
        &:active,
        &:focus {
            background-color: $red !important;
        }
    }

    &-outline-primary {
        border: 1px solid $secondary !important;
        color: $grey-600;

        &:hover,
        &:active,
        &:active {
            border: 1px solid $secondary !important;
            background-color: $secondary !important;
            color: $white;
        }

        &:hover {
            .btn-outline-svg {
                fill: $white;
            }
        }
    }

    &-secondary {
        border: none;
    }

    &-outline-pagination {
        background-color: $accent-300;
        color: $white;

        &:hover,
        &:active,
        &:focus {
            background-color: $accent;
        }

        &:hover {
            .btn-outline-svg {
                fill: $white;
            }
        }
    }

    &-profile {
        padding: 8px 20px;

        &:focus,
        &:hover,
        &:active {
            border-color: $white !important;
        }

        &::after {
            color: $white !important;
        }
    }
}

input.form-control,
textarea.form-control {
    @include form-control();
}

.dropdown {
    &-menu {
        background-color: $white;
    }

    &-item {
        transition: all 0.4s ease;
        padding: 12px 20px;

        &:active,
        &:hover {
            color: $white;
            background-color: $accent-700 !important;
        }
    }
}

.text-content {
    max-width: 60%;
    margin: 0 auto;

    &.full {
        max-width: 100% !important;
    }
}

.card {
    background-color: $white;
    border-radius: 16px;
    transition: all 0.5s ease;

    &:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transform: translateY(-2px);
    }
}

.background-decoration {
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: 90%;
        right: 0;
        width: clamp(200px, 26%, 400px);
        height: clamp(200px, 30%, 500px);
        background-image: url("/images/background-decoration-element-transparent.png");
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotate(-90deg) translate(0, 50%);
    }

    &-reverse {
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            top: 80%;
            left: -12%;
            width: clamp(200px, 26%, 400px);
            height: clamp(200px, 30%, 500px);
            background-image: url("/images/background-decoration-element-transparent-purple.png");
            background-size: cover;
            background-repeat: no-repeat;
            transform: rotate(90deg) translate(50%, 0);
        }
    }
}

@media screen and (max-width: 900px) {
    .btn {
        padding: 12px 24px;
    }

    .dropdown {
        &-item {
            padding: 8px 16px;
        }
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-weight: $fw-extrabold;
        font-size: 2.5rem;
    }

    h2 {
        font-weight: $fw-bold;
        font-size: 2rem;
    }
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
