@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.wrapper {
    overflow: hidden;
    @include flex-column();
    min-height: 100vh;
}

body {
    padding-top: 100px;
    font-family: "Poppins", sans-serif;
    background-color: $sky-blue;

    &.lock {
        overflow: hidden;
    }
}

.main {
    flex: 1;
    @include flex-column();
    justify-content: center;
}

.image {
    border-radius: 8px;
    max-width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 3rem;

    .mark {
        color: $secondary;
        background-color: transparent;
    }
}

h2 {
    font-weight: 700;
    font-size: 2.25rem;

    span {
        color: $accent;
        background-color: transparent;
    }

    span.secondary {
        color: $secondary;
        background-color: transparent;
        text-shadow: 2px 3px 8px rgba(27, 12, 7, 0.2);
    }
}

p {
    color: $dark-grey;
    font-size: 1rem;

    &.error {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: $red;
    }
}

.btn {
    border-radius: 12px;
    transition: all 0.6s ease;
    padding: 16px 32px;

    &-primary {
        background-color: $secondary !important;
        border: none;

        &:hover,
        &:active,
        &:focus {
            background-color: $red !important;
        }
    }

    &-outline-primary {
        border: 1px solid $secondary !important;
        color: $dark-grey;

        &:hover,
        &:active,
        &:active {
            border: 1px solid $secondary !important;
            background-color: $secondary !important;
            color: $white;
        }
    }

    &-secondary {
        border: none;
    }

    &-outline-pagination {
        background-color: $accent-light;
        color: $white;

        &:hover,
        &:active,
        &:focus {
            background-color: $accent;
        }
    }

    &-profile {
        padding: 8px 20px;

        &:focus {
            border-color: $white !important;
        }
    }
}

input.form-control,
textarea.form-control {
    @include form-control();
}

.text-content {
    max-width: 60%;
    margin: 0 auto;

    &.full {
        max-width: 100% !important;
    }
}

.card {
    background-color: $white;
    border-radius: 16px;
    transition: all 0.5s ease;

    &:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transform: translateY(-2px);
    }
}

.background-decoration {
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: 90%;
        right: 0;
        width: 26%;
        height: 30%;
        background-image: url("/images/background-decoration-element-transparent.png");
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotate(-90deg) translate(0, 50%);
    }

    &-reverse {
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            top: 80%;
            left: -12%;
            width: 26%;
            height: 20%;
            background-image: url("/images/background-decoration-element-transparent.png");
            background-size: cover;
            background-repeat: no-repeat;
            transform: rotate(90deg) translate(50%, 0);
        }
    }
}

@media screen and (max-width: 900px) {
    .btn {
        padding: 12px 24px;
    }
}
