.header {
    padding: 24px 0;
    background: linear-gradient(to right, $accent, $accent-light);
    min-width: 100% !important;

    &__wrap {
        @include flex-row();
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
    }

    &__logo {
        a {
            color: $white !important;
            @include flex-row();
            font-weight: 600;
            font-size: 24px;
            column-gap: 20px;
            align-items: center;
            transition: all 0.6s ease;

            svg {
                width: 28px;
                height: 28px;
                fill: $white;
                transition: all 0.6s ease;
            }

            &:hover {
                color: $secondary-light !important;

                svg {
                    fill: $secondary-light !important;
                }
            }
        }
    }

    &__item {
        a {
            color: $white;

            &.active {
                @include active-item();
            }

            &:hover {
                color: $secondary-light;
            }
        }
    }

    &__menu {
        @include flex-row();
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 4px;
    }
}

.profile {
    .dropdown-toggle {
        &::after {
            fill: $white;
        }
    }

    &__svg {
        fill: $white;
    }

    &__form {
        padding-left: 4px;
        padding-right: 4px;

        &-signout {
            display: block;
            padding: 8px 24px;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 580px) {
    .header {
        &__wrap {
            @include flex-row();
            justify-content: space-around;
            align-items: center;
        }

        &__logo {
            margin-bottom: 0 !important;
            font-size: 20px;

            &-svg {
                max-width: 32px;
                height: auto;
            }
        }

        &__burger {
            display: block;
            width: 30px;
            height: 24px;
            position: relative;
            z-index: 3;

            &::before {
                content: "";
                background-color: $white;
                width: 100%;
                height: 3px;
                position: absolute;
                left: 0;
                transition: all 0.5s ease;
                top: 0;
            }

            &::after {
                content: "";
                background-color: $white;
                width: 100%;
                height: 3px;
                position: absolute;
                left: 0;
                transition: all 0.5s ease;
                bottom: 0;
            }

            span {
                position: absolute;
                background-color: $white;
                right: 0;
                width: 70%;
                height: 3px;
                top: 11px;
                transition: all 0.5s ease;
            }

            &.active {
                span {
                    display: none;
                    transition: all 0.5s ease;
                }

                &::before {
                    transform: rotate(45deg) scale(1);
                    height: 4px;
                    top: 10px;
                    transition: all 0.5s ease;
                }

                &::after {
                    transform: rotate(-45deg) scale(1);
                    height: 4px;
                    bottom: 10px;
                    transition: all 0.5s ease;
                }
            }
        }

        &__menu {
            position: fixed;
            top: 150%;
            left: 0;
            width: 100%;
            height: 120vh;
            z-index: 1000;
            @include flex-column();
            justify-content: flex-start;
            align-items: center;
            row-gap: 20px;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            transition: all 0.6s ease;
            background-color: $dark;
            padding-top: 80px;
            padding-left: 20px;
            padding-right: 20px;

            &.active {
                top: 14%;
            }
        }
    }
}