.header {
    padding: 40px 0;
    background: linear-gradient(to right, $accent, $accent-light);
    min-width: 100% !important;

    &.sticky{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
    }

    &__logo {
        a {
            color: $white !important;
            @include flex-row();
            font-weight: 600;
            font-size: 24px;
            column-gap: 20px;
            align-items: center;
            transition: all 0.6s ease;

            svg {
                width: 28px;
                height: 28px;
                fill: $white;
            }

            &:hover {
                color: $secondary-light !important;

                svg {
                    fill: $secondary-light;
                }
            }
        }
    }

    &__item {
        color: $white;

        &.active {
            @include active-item();
        }

        &:hover {
            color: $secondary-light;
        }
    }
    &__menu{
        @include flex-row();
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 4px;
    }
}