.prompts {
    margin-top: 100px;
    margin-bottom: 100px;

    &__form {
        .input-group {
            max-width: 80%;
            margin: 0 auto;
        }

        &-search {
            padding: 32px 16px;
            max-height: 100% !important;
        }
    }

    &__tag {
        font-weight: 700;
    }

    &__list {
        @include flex-row();
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 6px;
        column-gap: 6px;
        padding-left: 0;
    }

    &__item {
        text-decoration: none;
        max-width: 18rem;
        border: 1px solid $grey;
        border-radius: 12px;
        padding: 20px;
        background-color: $white;
        transition: box-shadow 0.3s ease;
        transition: all 0.7s ease;
        position: relative;

        .card-body {
            text-decoration: none;
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transform: translateY(-2px);
        }

        &-group {
            @include flex-row();
            align-items: center;
            justify-content: space-between;
        }

        &-elements {
            @include flex-row();
            justify-content: center;
            align-items: center;
            column-gap: 8px;
        }

        &-copy {
            max-width: 32px;
            height: 32px;
            border-radius: 4px;

            svg {
                width: 100%;
            }
        }

        &-like {
            max-width: 32px;
            height: 32px;
            border-radius: 4px;

            svg {
                fill: $red;
                width: 100%;
            }
        }

        &-author {
            margin-bottom: 0;

            span {
                font-size: 1.125rem;
                font-weight: 700;
            }
        }

        &-date {
            font-weight: 600;
        }
    }

    &__content {
        &-like {
            @include flex-row();
            justify-content: start;
            align-items: center;
            column-gap: 12px;

            svg {
                max-width: 38px;
                fill: $accent;
            }
        }
    }

    &__date {
        font-weight: 700;
    }

    &__actions {
        @include flex-row();
        justify-content: start;
        align-items: center;
        column-gap: 20px;
    }

    &__pagination {
        @include flex-row();
        justify-content: center;
        align-items: center;
        column-gap: 10px;

        .pagination__link {
            color: $accent;
            text-decoration: none;

            &.active {
                color: $accent-dark;
                border-bottom: 1px solid $accent-dark;
            }
        }
    }
}

@media screen and (max-width: 574px) {
    .prompts {
        &__form {
            .input-group {
                max-width: 100%;
            }
        }

        &__list {
            @include flex-column();
            justify-content: center;
            align-items: center;
        }

        &__item {
            max-width: 80%;
        }
    }
}
