@mixin flex-row() {
    display: flex;
    flex-direction: row;
}

@mixin flex-column() {
    display: flex;
    flex-direction: column;
}

@mixin active-item {
    color: $white;
    border-bottom: 1px solid $secondary-light;
}

@mixin form-control() {
    border: 1px solid $dark-grey-1;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: $white;
    color: $accent;
    transition: all 0.4s ease-out;

    &:focus {
        border-color: transparent !important;
        outline: 0;
        box-shadow: 0 0 0 0.2rem $accent;
        background-color: $accent-light-1;
    }
}

$accent: #3498db;
$accent-dark: #106197;
$accent-light: #6dd5fa;
$accent-light-1: #e0f7ff;
$sky-blue: #ddf1ff;
$secondary: #ff6f61;
$secondary-transparent: #ff6e614c;
$secondary-light: #ffc6c2;
$purple: #8400ff;
$purple-transparent: #8400ff50;
$link-accent: #00ff1a;
$red: #d81907;
$white: #fdfdfd;
$white-1: #ebebeb;
$white-section: #eaeaea;
$grey: #e1e1e1;
$dark-grey: #4e4e4e;
$dark-grey-1: #a7a7a7;
$dark: #111111;
$grey-transparent: rgba(54, 54, 54, 0.605);

@import "templates/general.scss";
@import "templates/modal.scss";
@import "templates/header.scss";
@import "templates/about.scss";
@import "templates/prompts.scss";
@import "templates/error-page.scss";
@import "templates/footer.scss";
@import "templates/scroll-top.scss";
@import "templates/auth/sign-in.scss";
@import "templates/auth/sign-up.scss";
@import "templates/auth/profile.scss";
@import "templates/auth/password.scss";
