@mixin flex-row() {
    display: flex;
    flex-direction: row;
}

@mixin flex-column() {
    display: flex;
    flex-direction: column;
}

@mixin active-item {
    color: $white;
    border-bottom: 1px solid $secondary-300;
}

@mixin form-control() {
    border: 1px solid $grey-400;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: $accent-100;
    color: $accent;
    transition: all 0.4s ease-out;

    &:focus {
        border-color: transparent !important;
        outline: 0;
        box-shadow: 0 0 0 0.2rem $accent;
        background-color: $white-600;
    }
}

@mixin auth-link {
    color: $accent;
    transition: color 0.6s ease-in-out;
    text-decoration: underline;
    outline: none;

    &:hover {
        color: $link-accent;
    }
}

@mixin vertical-layout {
    margin-top: 0;
    margin-bottom: 160px;

    &__wrap {
        @include flex-row();
        justify-content: space-between;
        align-items: center;
    }

    &__group {
        max-width: 50%;
    }

    &__image {
        max-width: 40%;
        object-fit: cover;
    }

    @media screen and (max-width: 603px) {
        &__wrap {
            @include flex-column();
            row-gap: 20px;
        }

        &__group {
            max-width: 100%;
            text-align: center;
        }

        &__image {
            max-width: 100%;
            object-fit: cover;
        }
    }
}

$accent: #3498db;
$accent-700: #106197;
$accent-300: #6dd5fa;
$accent-100: #e0f7ff;
$sky-blue: #ddf1ff;
$secondary: #ff6f61;
$secondary-transparent: #ff6e614c;
$secondary-300: #ffc6c2;
$purple: #8400ff;
$purple-transparent: #8400ff50;
$link-accent: #00ff1a;
$red: #d81907;
$white: #fdfdfd;
$white-500: #eaeaea;
$white-600: #ebebeb;
$grey: #e1e1e1;
$grey-600: #4e4e4e;
$grey-400: #a7a7a7;
$grey-700: #303030;
$grey-transparent: rgba(54, 54, 54, 0.605);
$dark: #111111;
$graphite: #282828;

$ff-default: "Poppins", sans-serif;
$fw-normal: 500;
$fw-bold: 600;
$fw-extrabold: 700;
$fw-extrabolder: 800;

@import "templates/general.scss";
@import "templates/theme/dark-theme.scss";
@import "templates/modal.scss";
@import "templates/partials/header.scss";
@import "templates/partials/footer.scss";
@import "templates/about/about.scss";
@import "templates/about/features.scss";
@import "templates/about/developer.scss";
@import "templates/about/mission.scss";
@import "templates/about/prompts-action.scss";
@import "templates/contact/contact.scss";
@import "templates/contact/map.scss";
@import "templates/prompts.scss";
@import "templates/error-page.scss";
@import "templates/scroll-top.scss";
@import "templates/auth/sign-in.scss";
@import "templates/auth/sign-up.scss";
@import "templates/auth/profile.scss";
@import "templates/auth/password.scss";
