.features {
    margin-top: 40px;
    margin-bottom: 160px;

    &__list {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    &__item {
        width: 100%;
        padding: 40px 20px;
        text-align: center;
        @include flex-column();
        row-gap: 16px;

        &-icon {
            svg {
                width: 40px;
                height: 40px;
                fill: $purple;
            }
        }

        &-title {
            font-weight: 600;
            margin-bottom: 0;
        }

        &-text {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 762px) {
    .features {
        &__list {
            margin-top: 12px;
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            width: 80%;
            margin: 0 auto;
            padding: 20px 12px;
            row-gap: 8px;

            &-icon {
                svg {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}
