html {
    &.dark {
        body {
            background-color: $graphite;
        }

        .header,
        .footer {
            background: linear-gradient(to left, $accent-700, $grey-600);
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $white;
        }

        p,
        label {
            color: $white-600;
        }

        input,
        textarea {
            transition: all 0.7s ease;
            background-color: $grey-700;

            &:focus {
                background-color: $grey-600;
            }
        }

        .btn {
            color: $white;

            &-light {
                color: $grey-600;
            }

            &-outline-light {
                &:hover {
                    color: $grey-600;
                }
            }
        }

        .card {
            background-color: $grey-600;

            svg {
                fill: $white;
            }
        }

        .prompts {
            &__item {
                background-color: $grey-700;
            }
        }
    }
}
