html {
    &.dark {
        body {
            background-color: $graphite;
        }

        .header {
            background: linear-gradient(to left, $accent-700, $grey-600);
        }

        .footer {
            background: linear-gradient(to right, $accent-700, $grey-600);
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $white;
        }

        p,
        label,
        .password__description {
            color: $white-600;
        }

        input,
        textarea {
            transition: all 0.7s ease;
            background-color: $grey-700;

            &:focus {
                background-color: $grey-600;
            }
        }

        .btn {
            color: $white;

            &-light {
                color: $grey-600;
            }

            &-outline-light {
                &:hover {
                    color: $grey-600;
                }
            }
        }

        .card {
            background-color: $grey-600;

            svg {
                fill: $white;
            }
        }

        .background-decoration {
            &::after {
                filter: grayscale(50%);
            }

            &-reverse {
                &::before {
                    filter: grayscale(50%);
                }
            }
        }

        .prompts {
            &__item {
                background-color: $grey-700;
            }
        }

        .profile {
            &__section {
                &:nth-child(2n) {
                    &::before {
                        background-color: $grey-700;
                    }
                }
            }
        }

        .dropdown {
            &-menu {
                background: linear-gradient(to right, $accent-700, $grey-600);
            }
        }
    }
}
