//General - Start
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin flex-row(){
    display: flex;
    flex-direction: row;
}

@mixin flex-column(){
    display: flex;
    flex-direction: column;
}

@mixin active-item{
    color: $secondary-light !important;
    border-bottom: 1px solid $secondary;
}

$accent: #3498db;
$accent-light: #6dd5fa;
$secondary: #ff6f61;
$secondary-light: #ffc3be;
$white: #fdfdfd;
$grey: #e1e1e1;
$dark: #000;

.wrapper{
    overflow: hidden;
}

body{
  font-family: "Poppins", sans-serif;
}

.main{
    margin-top: 100px;
}

h1{
    font-weight: 800;
    font-size: 48px;

    .mark{
        color: $secondary;
        background-color: transparent;
    }
}

.btn{
    border-radius: 12px;

    &-outline-primary{
        padding: 12px 28px;
    }
}

.description{
    max-width: 50%;
    margin: 0 auto;
}
//General - End
//Header - Start
.header{
    background: linear-gradient(to right,$accent, $accent-light);

    &__logo{
        a {
            color: $white !important;
            display: inline-flex;
            font-weight: 600;
            font-size: 24px;
            column-gap: 20px;
            align-items: center;

            img{
                width: 28px;
            }
            &:hover{
                color: $secondary-light !important;
            }
        }
    }
    &__item{
        color: $white;
        &.active{
            @include active-item();
        }
        &:hover{
            color: $secondary-light;
        }
    }
}
//Header - End
//Footer - Start
.footer{
    background: linear-gradient(to right,$accent, $accent-light);

    &__copyright, &__item, &__socials{
        color: $white;
    }
    &__item{
        .active{
            @include active-item();
        }
    }
}
//Footer - End